'use strict';

module.exports = {
  slack_token: '', // get slack tocken from here:  https://yourorganization.slack.com/services/new/bot
  bot_name: '', // enter same name as set in previous step
  keyword: '', // bot will fire responses if addressed by this keyword, or his own name
  primary_channel: '', // which channel lunchbot will output announcements to
  julebygda_user: '', // username for julebygda.no
  julebygda_password: '', // password for julebygda.no
  default_admin: '' // username of administrator for this bot
};